div.svelte-1lnco2q .text-center {
  text-align: center;
}
div.svelte-1lnco2q .text-left {
  text-align: left;
}
table.svelte-5jx64d {
  width: 100%;
}
.isSortable.svelte-5jx64d {
  cursor: pointer;
}
tr.svelte-5jx64d th select.svelte-5jx64d {
  width: 100%;
}
